header .main-header > .logo img {
    height: 60px;
    position: absolute;
    left: 5px;
    top: -6px;
}

header .main-header > .top-nav {
    height: 38px;
    padding-top: -10px;
}

header .main-header > .top-nav ul {
    text-align: right;
}

header .main-header > .top-nav li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    list-style-position: none;
    display: inline;
    margin-top: 50px;
    padding: 0px 10px;
}

header .main-header > .top-nav li a {
    text-decoration: none;
    color: rgb(20, 85, 155);
    padding: 10px 10px 10px 10px;
    margin-left: -10px;
    margin-right: -10px;
}

li a:hover{
    background-color: lightgrey;
}

header .main-display {
    background: url("images/crystal-cove-state-park.jpg");
    background-repeat: no-repeat;
    height: 700px;
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: bisque;
    text-align: center;
    padding-top: 200px;
}

.main-nav {
    background-color: rgb(250, 244, 244);
    height: 60px;
    text-align: center;
    padding-top: 1px;
}

.main-nav li {
    list-style-position: none;
    display: inline;
    padding: 0 40px;
}
.main-nav li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: black;
    padding: 17px 60px 17px 60px;
    margin-left: -80px;
}
.main-nav ul li a:hover {
    background-color: lightgray;
}
.main-nav ul .active {
    font-weight: bolder;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}h2{
    color:black;
    font-size: 25px;
}p{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gallery header .main-display {
    background: url("images/crystal-cove-state-park.jpg");
    background-repeat: no-repeat;
    height: 300px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: bisque;
    text-align: center;
    padding-top: 200px;
}

h1 {
    padding: 10px;
    margin-left: 70px;
    font-weight: bolder;
}

#gallery main #album .imageContainer {
    display: inline-block;
    margin: 10px -10px;
}

#gallery .imageContainer img {
    width: 416px;
    height: 234px;
}

#gallery .imageContainer figcaption {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 246, 251);
    width: 396px;
    margin-top: -4px;
}

/* TODO: fix the HTML part for floating box. Hidden now. */
#gallery .imageContainer .floatingBox {
    visibility: hidden;
}
/* #gallery .imageContainer .floatingBox {
    padding: 10px;
    display: inline-block;
    width: 396px;
    word-wrap: break-word;
    margin-top: 1px;
    margin-bottom: 10px;
} */

#gallery .imageContainer .descriptionBox {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 250px;
    width: 600px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    visibility: hidden;
}
#gallery .imageContainer .descriptionBox h2, p {
    color: #fff;
}

.closeButton {
    display: block;
    border-color: rgba(0, 0, 0, 0);
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity 0.3s ease;
    color: rgb(233, 233, 85);
    font-size: medium;
    margin: 70px 220px 40px 220px;
}
.closeButton:hover {
    cursor: pointer;
}

#gallery .imageContainer figure:hover {
    cursor: pointer;
}

.lightboxToggle {
    color: black;
}

.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.lightbox {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}

.lightbox img {
    width:100%;
}

.close {
    float: right;
    cursor: pointer;
}

/* Contact Info */
.contactinfo {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    margin-top: 30px;
}
.contactinfo span:first-child {
    font-weight: bold;
    margin-right: 5px;
}
.contactinfo .phone {
    margin-bottom: 10px;
}

/* Contact Form */
#contact form {
    padding: 30px 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#contact fieldset {
    border: 2px solid #9ed034;
}

#contact fieldset legend {
    color: #4977D1;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#contact label {
    padding: 15px;
    font-weight: bold;
}

#contact input {
    display: block;
    height: 1.5em;
    width: 500px;
    margin: 5px 15px 25px 15px;
}

#contact form .selectmenu select {
    display: block;
    height: 1.8em;
    width: 150px;
    margin: 5px 15px 25px 15px;
}

#contact form .commentbox textarea {
    display: block;
    margin: 5px 15px 25px 15px;
    height: 170px;
    width: 500px;
    resize: none;
}

#contact form #submit {
    background-color: #4977D1;
    color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 150px;
    margin: 20px 0 10px 371px;
}

#contact form #submit:hover {
    background-color: green;
    cursor: pointer;
}

footer {
    height: 40px;
    background-color: rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211, 218, 240);
}
